<nav id="header" class="w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
            <a class="toggleColour text-black no-underline hover:no-underline font-bold text-4xl" href="#">
               <img class="h-20 mr-3" src="COLDSTART-LOGO-black.png" alt="cold start logo" style="width: 128px;"/>
            </a>
        </div>
        <div class="flex items-center w-auto mt-0 bg-transparent text-black p-0 z-20" id="nav-content">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    <div id="navAction"
                         class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                        <a href="/.auth/logout?post_logout_redirect_uri=/">Log out</a>
                    </div>
                </Authorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            
        </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
